* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Playpen Sans", sans-serif;
  line-height: 1;
  font-size: 62.5%;
  background-color: #ffc9c9;

  height: 100vh;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 70rem;
  padding: 2rem 1rem;
  border: solid 1px #333;
}

.app::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  border: solid 1px #333;
  z-index: -1;
}

.app input {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffa8a8;
}

.input-container {
  height: 2rem;
}

.error,
.loading {
  /* height: 1rem; */
  text-align: center;
  color: rgb(226, 26, 26);
}

.loading {
  color: rgb(67, 172, 67);
}

.weather-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(7, minmax(5rem, 1fr));
  gap: 1rem;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  background-color: #ffe3e3;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.weather-info {
  text-align: center;
}

.list-item p:first-child {
  margin-bottom: 0.4rem;
}

.list-item p:nth-child(1) {
  font-size: 1.4rem;
}

.list-item p:nth-child(2) {
  font-size: 1rem;
}

.list-item p:nth-child(3) {
  display: flex;
  gap: 0.2rem;
}

.visible {
  visibility: block;
}

.invisible {
  visibility: hidden;
}
